#gitignore file




#
tools/py_progs/__pycache__
tools/idl_progs/topobathy.pro
tools/idl_progs/*.nc
tools/idl_progs/*~
cesm1.2.1/configs/cam4_aqua_dynocn_fv
/gpfsm/dnb53/etwolf/models/ExoCAM/cesm1.2.1/initial_files/mars
/gpfsm/dnb53/etwolf/models/ExoCAM/cesm1.2.1/configs/extras
src
cesm1.2.1/initial_files/cam_aqua_fv/comp_ic.py
cesm1.2.1/configs/cam_mixed_fv_O2O3
