#gitignore file

# dynamic ocean stuff that's not ready for sharing
idl_progs/topobathy.pro
idl_progs/*.nc
cesm1.2.1/configs/cam4_aqua_dynocn_fv
/gpfsm/dnb53/etwolf/models/ExoCAM/cesm1.2.1/initial_files/mars
/gpfsm/dnb53/etwolf/models/ExoCAM/cesm1.2.1/configs/extras
